<div class="bg-light" id="hwhole">
<div class="card bg-white" id="para">
    <p>
      LTI (NSE: LTI) is a global technology consulting and digital solutions company 
      helping more than 420 clients succeed in a converging world. With operations 
      in 32 countries, we go the extra mile for our clients and accelerate their digital
       transformation with LTI’s Mosaic platform enabling their mobile, social, analytics,
        IoT and cloud journeys.
    </p>
    <p>
      Founded 20 years ago as the information technology arm of the Larsen & Toubro group, 
      our unique heritage gives us unrivaled real-world expertise to solve the most complex 
      challenges of enterprises across all industries.
    </p>
    <p>
      Each day, our team of more than 30,000 LTItes enable our clients to improve the effectiveness 
      of their business and technology operations and deliver value to their customers, employees 
      and shareholders.
    </p>
  </div>

<h3 class="text-center">Our Beliefs</h3>

  <div class="row align-center" id="row" >
    <div class="col-sm-2">
      <div class="card">
          <img class="card-img-top" [src]="extra">
        <div class="card-body">
          <p class="card-title">Go the Extra Mile</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
        <div class="card">
            <img class="card-img-top" [src]="agile">
          <div class="card-body">
            <p class="card-title">Be Agile</p>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="card">
            <img class="card-img-top" [src]="push">
          <div class="card-body">
            <p class="card-title">Push Frontiers</p>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="card">
            <img class="card-img-top" [src]="keep">
          <div class="card-body">
            <p class="card-title">Keep Learning</p>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="card">
            <img class="card-img-top" [src]="society">
          <div class="card-body">
            <p class="card-title">Solve for the Society</p>
          </div>
        </div>
      </div>

  </div>

</div>