#head{
    margin-top: 5px;
    padding-top: 20px;
}



/*#form{
    align-items: center;
    align-content: center;
    text-align: center;
    /*width: 360px;
    -ms-flex-align: center;
    
    margin-left: 560px;
    margin-top: 40px;
}*/


/*input[type=text], input[type=password] {
    /*width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    /*border: 1px solid #ccc;
    box-sizing: border-box;

  }*/
 
